@extends('layouts.app')

@section('content')

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/banner/online-medicine-concept_160901-152.jpg" class="img-fluid" style="border:1px solid #ccc;">

        </div>   
        <div class="col-sm-6">
            <h2>Tạo tài khoản và đặt cuộc hẹn ngay </h2> <br>
              <h2>Hệ thống Y tế Vinmec</h2>
            <p> Vinmec là Hệ thống Y tế phi lợi nhuận do Vingroup 
             Tập đoàn kinh tế tư nhân hàng đầu Việt Nam đầu tư phát triển với sứ mệnh
             “Chăm sóc bằng tài năng, y đức và sự thấu cảm". </p>
             <h2>Tầm nhìn</h2>
            <p>Vinmec cam kết phát triển hệ thống y tế hàn lâm vươn tầm quốc tế thông qua những nghiên cứu đột phá, 
                nhằm mang lại chất lượng điều trị xuất sắc và dịch vụ chăm sóc hoàn hảo. </p>
             <h2>Sứ mệnh</h2>
            <p> Chăm sóc bằng tài năng, y đức và sự thấu cảm. </p>
            <div class="mt-5">
            <button class="btn btn-success">Đăng Kí Là Bệnh Nhân</button>
            <button class="btn btn-secondary">Đăng Nhập</button>
        </div>
        </div>
        
    </div>
    <hr>
    <section class="">
        <div class="card">
            <div class="card-header">Tìm Kiếm Bác Sỹ</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control " id="datepicker"  name="date">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-primary">Tìm Kiếm Bác Sỹ</button>
                        </div>

                    </div>
                </div>
                
            </div>

            <div class="card mt-1">
            <div class="card-header"> Bác Sỹ Trống Lịch Hẹn Hôm Nay</div>
                <div class="card-body">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ảnh</th>
                          <th scope="col">Tên</th>
                          <th scope="col">Thể Loại</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <th scope="row">1</th>
                          <td><img src="/doctor/doctor.png" width="80" style="border-radius: 50%;">
                          </td>
                          <td>TUDO</td>
                          <td>@twitter</td>
                        <td>
                            <button class="btn btn-success">Đặt Lịch Hẹn</button>
                        </td>
                        </tr>

                         <tr>
                          <th scope="row">1</th>
                          <td><img src="/doctor/doctor.png" width="80" style="border-radius: 50%;">
                          </td>
                          <td>NGOCHUYNH</td>
                          <td>@twitter</td>
                        <td>
                            <button class="btn btn-success">Đặt Lịch Hẹn</button>
                        </td>
                        </tr>


                      </tbody>
                    </table>

                    
                </div>
                
            </div>
        </div>
    </section>
</div>
 
        
@endsection
